*{
    margin: 0;
    padding: 0;
}

#banner{
    background: linear-gradient(rgba(0,0,0,0.5), black), url(https://images.squarespace-cdn.com/content/v1/61b9febbd2e0fb042487ab37/a60a44eb-2802-4f14-a6c2-5206b280fb36/HF+-+07845.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}