*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.menu_bar{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background: black;
    padding: 20px;
}
.logo-box{
    padding-left: 50px;
    color: white;
}
.logo-box .logo{
    font-size: 20px;
}

.menu-box{
    padding: 10px;
    justify-content: space-between;
}
li a{
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
.menu-box .nav_links{
    display: flex;
    align-items: center;
    align-content: center;
}
.book_botton-box{
    padding-right: 50px;
}
.home_img-box{
    padding: 0;
}
 .header_img{
    width: 100%; 
    padding: 10px 0 0 0;
    align-items: center;
    background: black;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color:rgba(0,136,169,.8);
}
button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,.8);

}
.about_main{
    display: flex;
    padding: 30px 0 0 0;
    background: black;

}
.about_main .about-box{
    padding: 0 50px 0 0;

}
.about_photo-box img{
    width: 200px;
    height: 200px;
border-radius: 50%;
}